<div th:fragment="boardFrag" id="board" xmlns:th="http://www.w3.org/1999/xhtml">

    <input type="hidden" id="gameId" th:value="${game.id}">
    <span style='display:none'  id="playerName" sec:authentication="name"></span>

    <div class="row" style="margin-top:1%; height: 90vh;width: 100vw;">
        <div class="col-md-3" style="text-align:center">
            <h4>Collect row or column with the same image for win 1 point!</h4>
            <h4>Get extra point for given images:</h4>
            <table class="row justify-content-center" style="margin-top:1%">
                <tr class="d-flex bd-highlight board-row">
                    <td th:each="card : ${game.bonusImages}" class="col-md-5" style="border-style: solid;margin:1%;padding:1%">
                        <img th:src="${'/data/images/' + card + '.png'}" width="100%" height="100%">
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-5" style="text-align:center;height:100%;width:100%;">

            <table class="row justify-content-end" style="margin-top:1%">
                <tr th:each="row,iter : ${game.playerBoard}" class="d-flex bd-highlight board-row">
                    <td th:each="col,iter2 : ${row}" class="col-md-2" style="border-style: solid;">
                        <a href="#" th:if="${game.actualPlayer==game.playerIndex && col!=null && game.status.name=='IN_PROGRESS'}"
                           style="width:100%;height:100%" th:onclick="|move(${iter.index},${iter2.index})|">
                            <img th:src="${'/data/images/' + col + '.png'}" style="display:block;" width="100%" height="100%">
                        </a>
                        <img th:if="${(game.actualPlayer!=game.playerIndex || game.status.name=='FINISHED') && col!=null}" th:src="${'/data/images/' + col + '.png'}" style="display:block;" width="100%" height="100%">
                    </td>
                </tr>
            </table>

        </div>
        <div class="col-md-3 d-flex align-content-around" style="text-align:center;height:100%;width:100%;">
            <div th:replace="fragments/cube :: cubeFrag" />
        </div>
        <div class="col-md-1" style="text-align:center">
        </div>
    </div>
</div>