<div style="text-align:center" th:fragment="cubeFrag">
    <h3 th:if="${game.playerIndex==game.actualPlayer && game.moveCube!=null}">Your turn! Spin cube and click cube to replace!</h3>
    <div class="center scene" th:if="${game.playerIndex==game.actualPlayer && game.moveCube!=null}">
        <div class="cube" id="cube-div">
            <div th:each="cubeSideEntry : ${game.moveCube.getCubeSideMap()}" class="cube__face"
                 th:classappend="${'cube__face--' + #strings.toLowerCase(cubeSideEntry.key)}"><img
                    th:src="${'/data/images/' + cubeSideEntry.value + '.png'}" alt=""/></div>
            <!--            <div class="cube__face cube__face&#45;&#45;back"> <img src="/data/images/CHASE.png" alt="" /></div>-->
            <!--            <div class="cube__face cube__face&#45;&#45;right"> <img src="/data/images/SKY.png" alt="" /></div>-->
            <!--            <div class="cube__face cube__face&#45;&#45;left"> <img src="/data/images/ROCKY.png" alt="" /></div>-->
            <!--            <div class="cube__face cube__face&#45;&#45;top"> <img src="/data/images/RUBBLE.png" alt="" /></div>-->
            <!--            <div class="cube__face cube__face&#45;&#45;bottom"> <img src="/data/images/EVEREST.png" alt="" /></div>-->
        </div>
    </div>
    <div class="radio-group" id="radio-group" th:style="${game.moveCube!=null ? 'display:block' : 'display:none'}">
        <label>
            <input type="radio" name="rotate-cube-side" value="front" checked/> front
        </label>
        <label>
            <input type="radio" name="rotate-cube-side" value="right"/> right
        </label>
        <label>
            <input type="radio" name="rotate-cube-side" value="back"/> back
        </label>
        <label>
            <input type="radio" name="rotate-cube-side" value="left"/> left
        </label>
        <label>
            <input type="radio" name="rotate-cube-side" value="top"/> top
        </label>
        <label>
            <input type="radio" name="rotate-cube-side" value="bottom"/> bottom
        </label>
    </div>
    <h1 th:if="${game.playerIndex==game.actualPlayer && game.moveCube==null}">Your turn! Click first cube to push!</h1>
    <h1 th:if="${game.playerIndex!=game.actualPlayer}">Waiting for opponent move!</h1>

    <script src="/scripts/cube.js"></script>
</div>