<div style="text-align:center" th:fragment="cubeFrag"  th:if="${game.moveCube!=null}">
    <div class="center scene">
        <div class="cube">
            <div th:each="cubeSideEntry : ${game.moveCube.getCubeSideMap()}" class="cube__face" th:classappend="${'cube__face--' + #strings.toLowerCase(cubeSideEntry.key)}"> <img th:src="${'/data/images/' + cubeSideEntry.value + '.png'}" alt="" /></div>
<!--            <div class="cube__face cube__face&#45;&#45;back"> <img src="/data/images/CHASE.png" alt="" /></div>-->
<!--            <div class="cube__face cube__face&#45;&#45;right"> <img src="/data/images/SKY.png" alt="" /></div>-->
<!--            <div class="cube__face cube__face&#45;&#45;left"> <img src="/data/images/ROCKY.png" alt="" /></div>-->
<!--            <div class="cube__face cube__face&#45;&#45;top"> <img src="/data/images/RUBBLE.png" alt="" /></div>-->
<!--            <div class="cube__face cube__face&#45;&#45;bottom"> <img src="/data/images/EVEREST.png" alt="" /></div>-->
        </div>
    </div>
    <div class="radio-group">
        <label>
            <input type="radio" name="rotate-cube-side" value="front" checked/> front
        </label>
        <label>
            <input type="radio" name="rotate-cube-side" value="right"/> right
        </label>
        <label>
            <input type="radio" name="rotate-cube-side" value="back"/> back
        </label>
        <label>
            <input type="radio" name="rotate-cube-side" value="left"/> left
        </label>
        <label>
            <input type="radio" name="rotate-cube-side" value="top"/> top
        </label>
        <label>
            <input type="radio" name="rotate-cube-side" value="bottom"/> bottom
        </label>
    </div>
</div>